mode: debug #启动模式 debug, release, test
port: :18080 #启动端口
app-name: chatserver-api #服务名称
url: http://localhost #服务本地地址
externalurl: http://localhost:1002/ #最终用户访问的地址
max-ping-count: 10 #自检次数
language: zh # 项目语言，en或者zh
jwt:
  secret: ABCDFTGSEDE
  ttl: 223600
  blacklistperiod: 10
openai:
  apitype:                        #填写 “azure”或“openai” 默认为openai
  apiurl:                         #当使用azure API 时需要填写API终结点地址
  apiversion: "2023-05-15"        #当使用azure API 时需要填写APIversion
  authtoken:              #填写 azure 密钥  或 openai API KEY 
  orgid:                  #OPENAI页面的组织ID  azureAPI不需要填写
  proxymode: socks5       #如果为空则不使用代理 http 或 socks5 
  proxyip:                代理IP
  proxyport:              代理端口
email:
  smtphost:               #smtp邮箱地址
  smtpport:               #邮箱端口
  smtpuser:               #邮箱登录u用户名
  smtppassword:           #邮箱登录密码
  smtpsender:             #邮件发件人姓名
  proxymode:  socks5      #如果为空则不使用代理
  proxyip:  
  proxyport:
 
# 联网GPT搜索配置。
tencent:  # 腾讯API密钥 申请开通NLP服务 用于对用户的问题进行NER识别
  secretid:
  secretkey: 
google:  #谷歌搜索API密钥 用于对用户的问题进行搜索
  apiKey:   #谷歌API KEY
  cxid:    #谷歌自定义搜索ID

custom: 
 #进行邮箱有效性检测，需要向邮件服务器25端口发送数据，有些VPS封禁了出站25端口需要使用代理 
  azureproxy: socks5://代理IP:代理端口?timeout=5s   #如果不需要代理置空

# 数据库配置(postgresql)
database:
  dbname:   #数据库名称
  host:  #数据库服务地址
  port:     #数据库端口 
  username:   #用户名(实际线上不可使用root,请授权一个账户)
  password:   #密码
  maximum-pool-size: 10  #连接池最大连接数
  maximum-idle-size: 2  #连接池最大空闲数
# 缓存redis配置
redis:
  address:  #redis server地址
  password:  #redis auth 密码，可选，默认无密码
  db:     #数据库，可选，默认0
  pool-size: 10 #同一时刻池中最大连接数
  min-idle-conns: 1 #建立连接时维持的最小空闲连接数量，避免新建连接速度慢
  idle-timeout: 3000 #最大空闲时长，单位是秒s
custom:
  azureproxy:        #用户SMTP发送邮件之前探测，需要放行出站TCP25端口权限，部分VPS默认封禁则需要配置使用代理
# 日志配置(使用zap&lumberjack)
log:
  level: debug
  file-name: logs/chatserver-api.log
  time-format: '2006-01-02 15:04:05.000'
  max-size: 500 #单个日志文件大小MB
  max-backups: 7 #至多保留多少个日志文件
  max-age: 7 #至多保留多少天的日志文件
  compress: true
  local-time: false
  console: true  #是否打印到控制台,true打印到控制台，false记录到文件
